body, html {
    height: 100%;
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #1a1a1a;
    color: #fff;
}

.container {
    max-width: 600px;
    margin: 50px auto;
    padding: 20px;
    background-color: #333;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

h1 {
    text-align: center;
}

label {
    display: block;
    margin-bottom: 5px;
}

input[type="password"], textarea, input[type="datetime-local"] {
    width: 100%;
    margin-bottom: 10px;
    padding: 5px;
}

button {
    padding: 8px 16px;
    margin-right: 10px;
    background-color: #4CAF50;
    border: none;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}

#noteDisplay {
    margin-top: 20px;
    border: 1px solid #fff;
    padding: 10px;
    display: none;
}
